.lf-aside-item {
  display: flex;
  gap: 16px;
  font-size: 18px;
  align-items: center;
  font-weight: 500;
  padding: 8px 16px;
  color: var(--text);

  cursor: pointer;
}
.lf-aside-items {
  padding: 0 0 10px 0;
}
.lf-aside {
  /* margin: 0 24px 24px 24px; */
  display: flex;
  flex-direction: column;
  gap: 190px;
  min-width: 300px;
  border-radius: 8px;
  background-color: var(--post-gray-bg);
}
.bg-pur {
  background-color: var(--primary-yellow);
}
.profile {
  padding: 16px;
}
.logout {
  cursor: pointer;
  font-size: 21px;
}
.activeLink {
  color: #764abc;
}
.inactiveLink {
  color: var(--headingColorblack);
}
.displayF {
  display: flex;
}
.space-between {
  align-content: space-between;
}
.list-options-btns {
  display: flex;
  gap: 10px;
}
